<div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <img src="/images/fibhios/logo-footer.png" width="100" class="img-responsive" alt="">
                   Diseñado y generado por<a href="http://www.irstrat.com/" target="_blank"> IRStrat</a>
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">
                        <li class="active"><a href="/">Inicio</a></li>
                        <li><a href="/es/perfil">Nosotros</a></li>
                        <li><a href="/es/creditos">Portafolio</a></li>
                        <!-- <li><a href="#">Resposabilidad social</a></li> -->
                        <li><a href="/es/inversionistas/directivos">Equipo directivo</a></li>
                    </ul>
                </div>

			</div>
        </div>
</div>
    