<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"> 
<title>FIBHIOS - Fideicomiso Bursátil Hipotecario</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="">





<!-- CSS ================================================== -->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/css/style.css"/>
<link rel="stylesheet" type="text/css" href="/css/picons.css"/>
<link rel="stylesheet" type="text/css" href="/css/owl-carousel.css"/>
<link rel="stylesheet" type="text/css" href="/css/prettyPhoto.css"/>
<link rel="stylesheet" type="text/css" href="/css/animate.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/flexslider.css"/>
<link rel="stylesheet" type="text/css" href="/rs-plugin/css/settings.css"/>
<link rel="stylesheet" type="text/css" href="/royalslider/royalslider.css"/>
<link rel="stylesheet" type="text/css" href="/royalslider/skins/default-inverted/rs-default-inverted.css"/>

<!-- Google Fonts --><!--
<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
-->

   <!--ajustes JM ie8-->
    <link rel="stylesheet" type="text/css" href="/css/ajustes.css"/>

    <!-- Polyfills -->
    <!--[if lt IE 9]>
    <script src="/js/Polyfills/html5shiv.min.js"></script>
    <script src="/js/Polyfills/nwmatcher.js"></script>
    <script src="/js/Polyfills/selectivizr-min.js"></script>
    <script src="/js/Polyfills/respond.min.js"></script>

    <![endif]-->

</head>