<header id="header-default">
	<div class="container">
		<nav class="navbar yamm navbar-default">
			<div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-default" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class=""><img src="/images/fibhios/logo.png" width="196" alt=""></a>
        		</div><!-- end navbar-header -->
                
				<div id="navbar-collapse-default" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
                     <li class="dropdown"><a href="/" data-toggle="dropdown" class="dropdown-toggle active-nav">Inicio <div class="arrow-up"></div></a>
                          
                      </li><!-- end standard drop down -->
                        
                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Nosotros<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                				<li><a href="/es/perfil">Perfil</a></li>
                                                <li><a href="/es/filosofia">Filosofía corporativa</a></li>
                                                <li><a href="/es/directivos">Equipo directivo</a></li>
                                                <li><a href="/es/estructura">Estructura de participación</a></li>

                            </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                        
                    <!-- standard drop down -->
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portafolio <div class="arrow-up"></div></a>
                        <ul class="dropdown-menu" role="menu">
                                    <li><a href="/es/creditos">Créditos</a></li>
                                    <li><a href="/es/propiedades">Propiedades en garantía</a></li>
                                    <li><a href="/es/operacion">Operación de propiedades</a></li>
                                    <li><a href="portfolio-gallery-4.html">Distribución de propiedades</a></li>
                        </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                          
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Responsabilidad social <div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@">xxxx</a></li>

                            </ul><!-- end dropdown-menu -->
                        </li><!-- end standard drop down -->
                        
                       <!-- standard drop down -->
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Inversionistas<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                            					 <li><a href="#">FIBHIOS</a></li>
                                                 <li><a href="#">Estrategia</a></li>
                                                 <li><a href="#">Gobierno corporativo</a></li>
                                                 <li><a href="#">Información financiera</a></li>
                            </ul><!-- end dropdown-menu -->
                          </li><!-- end standard drop down -->
                          
						<!-- mega drop down -->                        
						
                      <li><a href="contact.html">Contacto</a> <div class="arrow-up"></div></li>
				   </ul><!-- end navbar-nav -->
				</div><!-- #navbar-collapse-default -->			
             </nav><!-- end navbar yamm navbar-default -->
		 </div><!-- end container -->
</header>