<header id="header-default">
	<div class="container">
		<nav class="navbar yamm navbar-default">
			<div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-default" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class=""><img src="/images/fibhios/logo.png" width="196" alt=""></a>
        		</div><!-- end navbar-header -->
                
				<div id="navbar-collapse-default" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
                     <li class="dropdown"><a href="/" data-toggle="dropdown" class="dropdown-toggle active-nav">Inicio <div class="arrow-up"></div></a>
                          
                      </li><!-- end standard drop down -->
                        
                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Nosotros<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                				<li><a href="/perfil">Perfil</a></li>
                                                <li><a href="#">Estructura</a></li>
                                                <li><a href="#">Filosofía corporativa</a></li>
                                                <li><a href="#">Equipo directivo</a></li>
                            </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                        
                    <!-- standard drop down -->
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio <div class="arrow-up"></div></a>
                        <ul class="dropdown-menu" role="menu">
                                    <li><a href="index-portfolio.html">Créditos</a></li>
                                    <li><a href="portfolio-gallery-2.html">Portfolio 2 Columns</a></li>
                                    <li><a href="portfolio-gallery-3.html">Portfolio 3 Columns</a></li>
                                    <li><a href="portfolio-gallery-4.html">Portfolio 4 Columns</a></li>
                                    <li><a href="portfolio-single-fullwidth.html">Portfolio Fullwidth</a></li>
                        </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                          
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Blog <div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="blog-one-column.html">Blog One Column</a></li>
                                <li><a href="blog-timeline.html">Blog Timeline Style</a></li>
                                <li><a href="blog-single-post.html">Blog Single Post</a></li>
                            </ul><!-- end dropdown-menu -->
                        </li><!-- end standard drop down -->
                        
                       <!-- standard drop down -->
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Shop <div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                            					<li><a href="index-shop.html">Home Shop</a></li>
                                                <li><a href="shop-list.html">Products List</a></li>
                                				<li><a href="shop-single-sidebar.html">Products Detail</a></li>
                                                <li><a href="shop-cart.html">Shopping Cart</a></li>
                                                <li><a href="shop-wishlist.html">Shop Wishlist</a></li>
                            </ul><!-- end dropdown-menu -->
                          </li><!-- end standard drop down -->
                          
						<!-- mega drop down -->                        
						
                      <li><a href="contact.html">Contact</a> <div class="arrow-up"></div></li>
				   </ul><!-- end navbar-nav -->
				</div><!-- #navbar-collapse-default -->			
             </nav><!-- end navbar yamm navbar-default -->
		 </div><!-- end container -->
</header>