<style type="text/css">
    .text-a {
        font-size: 150px;
        color: white;
    }
</style>



<!--LayerSlider -->
<div id="layerslider" style="width: 1350px; height: 350px;">


  <!--***** Slider 1 ***** -->
  <div class="ls-layer" style="slidedelay: 9000; transition2d: 110,111,112,113;">

    <!--Background -->
    <img class="ls-bg" src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 PLANO FONDO.png" alt="layer2-background">


    <!--edificios-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 1 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 225px; delayin : 700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 2 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 450px; delayin : 1200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 3 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 675px; delayin : 1700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 4 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 900px; delayin : 2200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">



    <!--poligonos-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 1 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 225px; delayin : 3000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 2 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 450px; delayin : 3500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 3 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 675px; delayin : 4000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 4 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 900px; delayin : 4500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <!--textos-->

    <H1 class="ls-s4 text-p"
        style="top:105px; left: 505px; font-size: 37px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      FIBHIOS </H1>

    <H1 class="ls-s4 text-p"
        style="top:65px; left: 690px; font-size: 20px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      Créditos “Senior” </H1>

    <H1 class="ls-s4 text-p"
        style="width: 190px; top:90px; left: 690px; font-size: 20px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      con una Estructura Sólida de Colateral </H1>


  </div>

  <!--***** Slider 1  END ***** -->





  <!--***** Slider 2 ***** -->
  <div class="ls-layer" style="slidedelay: 9000; transition2d: 110,111,112,113;">

    <!--Background -->
    <img class="ls-bg" src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 PLANO FONDO.png" alt="layer2-background">


    <!--edificios-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 1 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 225px; delayin : 700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 2 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 450px; delayin : 1200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 3 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 675px; delayin : 1700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 4 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 900px; delayin : 2200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">



    <!--poligonos-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 1 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 225px; delayin : 3000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 2 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 450px; delayin : 3500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 3 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 675px; delayin : 4000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 4 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 900px; delayin : 4500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <!--textos-->

    <H1 class="ls-s4 text-p"
        style="top:105px; left: 505px; font-size: 37px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      FIBHIOS </H1>

    <H1 class="ls-s4 text-p"
        style="top:65px; left: 690px; font-size: 18px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      Estructura Sólida </H1>

    <H1 class="ls-s4 text-p"
        style="width: 190px; top:90px; left: 690px; font-size: 18px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      enfocada en la Originación de Créditos Hipotecarios </H1>


  </div>  <!--***** Slider 2  END ***** -->


  <!--***** Slider 3 ***** -->
  <div class="ls-layer" style="slidedelay: 9000; transition2d: 110,111,112,113;">

    <!--Background -->
    <img class="ls-bg" src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 PLANO FONDO.png" alt="layer2-background">


    <!--edificios-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 1 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 225px; delayin : 700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 2 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 450px; delayin : 1200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 3 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 675px; delayin : 1700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 4 .png" class="ls-s-5"
         style="width: 225px;  height: 350px; top:0px; left: 900px; delayin : 2200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">



    <!--poligonos-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 1 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 225px; delayin : 3000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 2 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 450px; delayin : 3500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 3 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 675px; delayin : 4000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 4 .png" class="ls-s-5"
         style="width: 225px;                 top:0px;  left: 900px; delayin : 4500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <!--textos-->

    <H1 class="ls-s4 text-p"
        style="top:105px; left: 505px; font-size: 37px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      FIBHIOS </H1>

    <H1 class="ls-s4 text-p"
        style="top:65px; left: 690px; font-size: 18px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      Exposición Única</H1>

    <H1 class="ls-s4 text-p"
        style="width: 190px; top:90px; left: 690px; font-size: 18px; color: white; slidedirection : fade; slideoutdirection : right; durationin : 500; easingout : easeInQuart; delayin : 5000;">
      a un Portafolio de Activos Premium</H1>


  </div>  <!--***** Slider 3 END ***** -->




</div>
<!--LayerSlider End -->