<style type="text/css">
    .text-a {
        font-size: 150px;
        color: white;
    }
</style>



<!--LayerSlider -->
<div id="layerslider" style="width: 1350px; height: 350px;">

  <!--***** Slider 2 ***** -->
  <div class="ls-layer" style="slidedelay: 11000; transition2d: 110,111,112,113;">

    <!--Background -->
    <img class="ls-bg" src="/images/fibhios/LayerSlider/Slide4/FIBHIOS-azul-plano.png" alt="layer2-background">
    <!--edificios-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 1 .png" class="ls-s-5"
         style="width: 265px;  height: 350px; top:0px; left: 145px; delayin : 700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 2 .png" class="ls-s-5"
         style="width: 265px;  height: 350px; top:0px; left: 410px; delayin : 1200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 3 .png" class="ls-s-5"
         style="width: 265px;  height: 350px; top:0px; left:675px; delayin : 1700; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 IMG 4 .png" class="ls-s-5"
         style="width: 265px;  height: 350px; top:0px; left: 940px; delayin : 2200; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">



    <!--poligonos-->

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 1 .png" class="ls-s-5"
         style="width: 265px;                 top:0px;  left: 145px; delayin : 3000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 2 .png" class="ls-s-5"
         style="width: 265px;                 top:0px;  left: 410px; delayin : 3500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">

    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 3 .png" class="ls-s-5"
         style="width: 265px;                 top:0px;  left: 675px; delayin : 4000; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <img src="/images/fibhios/LayerSlider/Slide4/FIBHIOS SLIDE 4 ROMBO 4 .png" class="ls-s-5"
         style="width: 266px;                 top:0px;  left: 940px; delayin : 4500; slidedirection : bottom; durationin : 1000; slideoutdirection : top;  easingout : easeInQuart; ">


    <!--textos-->

    <H1 class="ls-s4 text-p"
        style="top:130px; left: 495px; font-size: 37px; color: white; slidedirection : fade; slideoutdirection : right; easingin : linear; durationin : 1000; easingout : easeInQuart; delayin : 5000;">
      FIBHIOS </H1>

    <H1 class="ls-s4 text-p"
        style="top:101px; left: 683px; font-size: 19px; color: white; slidedirection : fade; slideoutdirection : right; easingin : linear; durationin : 1000; easingout : easeInQuart; delayin : 6000;">
      Estructura Sólida </H1>

    <H1 class="ls-s4 text-p"
        style="top:129px; left: 683px; width: 190px;  font-size: 17px; color: white; slidedirection : fade; slideoutdirection : right;easingin : linear;  durationin : 1000; easingout : easeInQuart; delayin : 7000;">
      enfocada en la Originación de Créditos Hipotecarios </H1>


  </div>  <!--***** Slider 2  END ***** -->

</div>
<!--LayerSlider End -->