<!-- SLIDE-UP CONTENT-->
<div class="bonfire-slideout-button-triangle-background"></div>

<div class="bonfire-slideout">
<div class="bonfire-slideout-inner">
<div class="bonfire-slideout-inner-inner">
<div class="bonfire-slideout-close"></div>
<div id="offcanvas" class="bonfire-slideout-content container">

<div class="thin">

<!--titulo y descripcion-->
<div class="section-title-wrapper">
  <h3 class="section-title">Información destacada</h3>
</div>



<!--contenido-->

<!--1ra columna de a 6-->
<div class="row">

  <div class="col-sm-6">
    <div class="widget">
      <div class="title">
        <h2 class="text-center big-white">Portafolio Inicial de <span class="font-light"> Crédito</span></h2>
      </div>

      <div class="cajita-subtitle-esp">
        <p class="big-white text-center">9 Créditos por un Total de</p>
        <!--<p class="big-white text-center"> <br></p>-->
        <p class="big-white text-center" style="position: relative; top: 15px;">Ps.9,721mm</p>
      </div>


      <h3 class="text-center">Créditos para Refinanciamiento, y Construcción y Desarrollo</h3>

    </div>
  </div>


  <!--2da columna de a 6-->
  <div class="col-sm-6">
    <div class="widget">
      <div class="title">
        <h2 class="text-center big-white">Propiedades<span class="font-light"> Relacionadas</span></h2>
      </div>


      <div class="cajita-subtitle-esp">
        <p class="big-white text-center">9 Propiedades <sup>(1)</sup><span class="litte-white"></span></p>
        <p class="big-white text-center" style="font-size: 25px; position: relative; top:10px;">6 Estabilizadas, 1 en Pre-estabilización y 2 en Construcción</p>
      </div>


      <h3 class="text-center">Propiedades Premium >5 Diferentes Ciudades</h3>

    </div>
  </div>

</div>

<!--1ra fila -->
<div class="row">

  <!--1ra cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">9.5%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita"> Tasa de Interés<br>Promedio Ponderada</p>
      </div>
    </div>
  </div>


  <!--2da cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">30 Años</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Plazo de<br>los Créditos</p>

      </div>
    </div>
  </div>

  <!--3ra cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">357,000 m²</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Área<br> Rentable </p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

  <!--4ta cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">100%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Ocupación en Proyectos Estabilizados</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--1ra fila FIN-->


<!--2DA fila -->
<div style="margin-top: 20px" class="row">

  <!--1ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">58%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">LTV<sup> (2)</sup> Promedio Ponderado </p>

        <p class="txt-cajita text-center" style="padding-bottom: 5px;">Valor Activo > Ps.14,000mm
        </p>
      </div>
    </div>
  </div>


  <!--2da cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">1.30x</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Cobertura <br> NOI<sup> (3)</sup></p>

      </div>
    </div>
  </div>

  <!--3ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">  >1,000</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Locatarios de<br> Alto Prestigio
        </p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

  <!--4ta cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">3.3 Años <span class="litte-white"> </span></p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Vida Remanente <sup> (4)</sup> de los Contratos de Arrendamiento
</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--2da fila FIN-->



<!--3ra fila -->
<div style="margin-top: 20px" class="row">

  <!--1ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center"> <br></p>
        <p class="big-white text-center">MXN</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">100%<br> Créditos</p>

        </p>
      </div>
    </div>
  </div>


  <!--2da cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">Hasta </p>
        <p class="big-white text-center">6 años  </p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Periodo<br> de Gracia </p>

      </div>
    </div>
  </div>

  <!--3ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">Ningún Locatario</p>
        <p class="big-white text-center">Representa >10%</p>
        
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">De la Renta<br> Base</p>

      </div>
    </div>
  </div>

  <!--4ta cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center"> <br> </p>
        <p class="big-white text-center"> >Ps.1,500mm</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">NOI Anual (en estabilización) (2017)
        </p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--3ra fila FIN-->
(1) Las oficinas de CI Banco han sido consideradas como una sola propiedad.<br>
(2) Loan to Value.<br>
(3) Net Operating Income.<br>
(4) Excluyendo a Andamar I y II


<br/>



</div>
</div>
</div>
</div>
</div>
<!-- /SLIDE-UP CONTENT-->