
<!-- SLIDE-UP CONTENT-->
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
  <div class="bonfire-slideout-inner">
    <div class="bonfire-slideout-inner-inner">
      <div class="bonfire-slideout-close"></div>
      <div class="bonfire-slideout-content container">
        <div class="thin">
          <div class="section-title-wrapper">
            <h3 class="section-title">Our Recomendation yes </h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur sagittis lacus vel augue laoreet rutrum faucibus dolor aucto Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </div>
          <div class="margin-top"></div>
          <div class="row">
            <div class="col-sm-4">
              <div class="widget">
                <div class="title">
                  <h3>Your<span class="font-light"> Channel</span></h3>
                </div><!-- end title -->
                <ul class="recent_posts_widget">
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />History and Culture</a><br/>
                    Learn more about history and culture from arround the world
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Wild Adventure</a><br/>
                    Free yourself from work and take a wild experience to the center of earth
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Sains and Technology</a><br/>
                    Find out what the latest issue about science and technology
                  </li>

                </ul><!-- recent posts -->
              </div><!-- end widget -->
            </div>

            <div class="col-sm-4">
              <div class="widget">
                <div class="title">
                  <h3>What's <span class="font-light">Hot</span></h3>
                </div><!-- end title -->
                <ul class="recent_posts_widget">
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                    June 15, 2014
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-o"></i>
                    </div><!-- rating -->
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Summer Vocation With Nature</a><br/>
                    June 15, 2014
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                    </div><!-- rating -->
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Forever Young And Unstopable</a><br/>
                    June 15, 2014
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-o"></i>
                    </div><!-- rating -->
                  </li>

                </ul><!-- recent posts -->
              </div><!-- end widget -->
            </div>

            <div class="col-sm-4">
              <div class="widget">
                <div class="title">
                  <h3>Best <span class="font-light">Offer</span></h3>
                </div><!-- end title -->
                <ul class="recent_posts_widget">
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Hot Product One</a>
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-o"></i>
                    </div><!-- rating -->
                    $150.00
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Hot Product Two</a>
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                    </div><!-- rating -->
                    $150.00
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Hot Product Three</a>
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-o"></i>
                    </div><!-- rating -->
                    $150.00
                  </li>

                </ul><!-- recent posts -->
              </div><!-- end widget -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /SLIDE-UP CONTENT-->