
<!-- SLIDE-UP CONTENT-->
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
  <div class="bonfire-slideout-inner">
    <div class="bonfire-slideout-inner-inner">
      <div class="bonfire-slideout-close"></div>
      <div class="bonfire-slideout-content container">
        <div class="thin">
          <div class="section-title-wrapper">
            <h3 class="section-title">Información destacada</h3>
            <p>FIBHIOS se enfoca en generar Créditos hipotecarios senior colaterizados a desarrolladores de bienes raíces en México destinados a la adquisición y/o desarrollo de inmuebles Premium, esto permite a nuestros inversionistas obtener una Exposición a activos Premium de clase mundial que no están disponibles a través de otro instrumento público de inversión
           </p>
           

          </div>
          <div class="margin-top"></div>
          <h1 class="text-center">FIBHIOS en Números</h1>
          <div class="row">
            <div class="col-sm-6">
              <div class="widget">
                <div class="title">
                  <h2 class="text-center">Portafolio Inicial de <span class="font-light"> Crédito (1)</span></h2>
                </div><!-- end title -->
                <h3 class="text-center">9 créditos por un total de Ps.9,721mm</h3>
                <ul class="recent_posts_widget">
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />History and Culture</a><br/>
                    Learn more about history and culture from arround the world
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Wild Adventure</a><br/>
                    Free yourself from work and take a wild experience to the center of earth
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Sains and Technology</a><br/>
                    Find out what the latest issue about science and technology
                  </li>

                </ul><!-- recent posts -->
              </div><!-- end widget -->
            </div>

            <div class="col-sm-6">
              <div class="widget">
                <div class="title">
                  <h2 class="text-center">Propiedades<span class="font-light"> Relacionadas (2)</span></h2>
                </div><!-- end title -->
                <h3 class="text-center">Propiedades Premium >5 Diferentes Ciudades</h3>
                <ul class="recent_posts_widget">
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                    June 15, 2014
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-o"></i>
                    </div><!-- rating -->
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Summer Vocation With Nature</a><br/>
                    June 15, 2014
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                    </div><!-- rating -->
                  </li>
                  <li>
                    <a href="#" class="recomend-link"><img src="/images/shop/shop.jpg" alt="" />Forever Young And Unstopable</a><br/>
                    June 15, 2014
                    <div class="rating">
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle"></i>
                      <i class="fa fa-circle-o"></i>
                    </div><!-- rating -->
                  </li>

                </ul><!-- recent posts -->
              </div><!-- end widget -->
            </div>

            <p>(1) Grafica en base al monto del crédito. <br>
               (2) Grafica en base al área rentable de la propiedad. <br>
               (3) Las oficinas de CI Banco han sido consideradas como una sola propiedad<br>
               (4) Excluye Andamar I y Andamar II</p>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /SLIDE-UP CONTENT-->