<section class="parallax" style="background-image: url('/images/parallax/andaresblur2.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="overlay">
    <div class="container">
      <div class="stat f-container">
        <div class="f-element col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="milestone-counter">
            <span class="highlight-text">Créditos Senior con una Estructura Sólida de Colateral  </span>

            <div class="milestone-details">                                                
             </div>
          </div>
        </div>
       
      </div>
      <!-- stat -->
    </div>
    <!-- end container -->
  </div>
  <!-- end overlay -->
</section>