<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                      <div class="widget">
                          <div class="title">
                                <h3>FIBHIOS<span class="font-light"> Inversionistas</span></h3>
                               
                          </div><!-- end title -->
                          <div class="about_tabbed">     
                                        <div class="panel-group" id="accordion2">
                                            <div class="panel panel-default">
                                                <div class="panel-heading active">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">FIBHIOS</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseOne" class="panel-collapse collapse in">
                                                    <div class="panel-body-ri">
                                                        <ul class="chevron">
                                                              <li><a href="/es/inversionistas/perfil">Perfil</a></li>
                                                              <li><a href="/es/inversionistas/marco-economico">Marco económico</a></li>
                                                              <li><a href="/es/inversionistas/directivos">Equipo directivo</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Estrategia</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body-ri">
                                                       <ul class="chevron">
                                                              <li><a href="#">Estructura de participación</a></li>
                                                              <li><a href="#">Modelo de negocio</a></li>
                                                              <li><a href="#">Atractivo de inversión</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Gobierno corporativo</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseThree" class="panel-collapse collapse">
                                                    <div class="panel-body-ri">
                                                        <ul class="chevron">
                                                              <li><a href="#">Compromiso</a></li>
                                                              <li><a href="#">Comité Técnico</a></li>
                                                              <li><a href="#">Comités</a></li>
                                                              <li><a href="#">Nuestro Administrador</a></li>
                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Información bursátil</a>
                                                    </h4>
                                                </div><!-- end panel-heading -->
                                                <div id="collapseFour" class="panel-collapse collapse">
                                                    <div class="panel-body-ri">
                                                        <ul class="chevron">
                                                              <li><a href="#">Asamblea de Tenedores</a></li>
                                                              <li><a href="#">Distribuciones</a></li>

                                                          </ul>
                                                    </div><!-- end panel-body -->
                                                </div><!-- end collapseOne -->
                                            </div><!-- end panel -->
                                        </div><!-- end panel-group -->
                          </div>
                      </div>
                </div>