<div class="make-bg-full">
    <div class="calloutbox-full-mini nocontainer">
        <div class="container">
                <div class="latest-tweets">
                    <div class="tweet-icon">
                        <img src="/images/tweets-icon.png" alt="">
                    </div>
                    <div class="tweet">
                                <ul>
                                   <li>
                                    <div class="tweet-wrapper">
                                    <div class="tweet-wrapper-inner">
                                    <p class="tweet-content">
                                    <a href="#">@ComFin</a> Fibra Fibhios nace de la necesidad de fondeo para el mercado de bienes raíces <a href="#" target="_blank">Twitter</a></p>
                                    <span class="tweet-date">
                                        Octubre 3/2014</span>
                                    <!-- <span class="tweet-meta">
                                    <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                    <span class="tweet-meta">
                                        <a href="#"><i class="fa fa-retweet"></i> 100 Retweeded</a></span>
                                    <span class="tweet-meta">
                                        <a href="#"><i class="fa fa-star"></i> 100 Favorited</a></span> -->
                                       </div>
                                    </div>
                                   </li>
                                </ul>
                            </div>
                        </div>
             	    </div>
   	            </div>
   	            </div>