<!DOCTYPE html>
<html lang="en">
<%= erb :"layouts/head" %>
<body>      
<div id="preloader">
	<div class="bubblingG">
		<span id="bubblingG_1"></span>
		<span id="bubblingG_2"></span>
		<span id="bubblingG_3"></span>
	</div>
 </div> 
<%= erb :"layouts/topbar" %>
<!-- end topbar -->
<%= erb :"layouts/header" %>
<!-- end header -->
    
   
	
<div class="theme-layout"><!-- for boxed layout style -->
 <section class="wrapper-pgtitle">
    	<div class="container">
			<div class="calloutbread">
            	<h2><i class="icon-picons-layers"></i> Nuestro perfil</h2>
                <ul class="breadcrumb">
                    <li><a href="#">Nosotros</a></li>
                    <li>Perfil</li>
				</ul>
            </div><!-- end caaloutbread -->
		</div><!-- end container -->
      <!-- slide-up content -->
      <div id="triangle-up"><a href="#" class="bonfire-slideout-button"><div class="panel-bonfire"><i class="fa fa-chevron-up"></i></div></a></div>
    </section> 

	<section class="white-wrapper">
		<div class="container">
        	<div class="row">
            	<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                  <div class="padding-top">
                    <img src="/images/fibhios/propiedades/Antara/antara2.jpg" class="img-responsive" alt=""> 
                    </div>            
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="widget">
                        <h3>COMPANY INTRODUCTION</h3>
                <p style="margin-bottom: 0px">
                    FIBHIOS es un fideicomiso inmobiliario hipotecario que busca constituir
                    un portafolio de créditos respaldado por garantías hipotecarias o fiduciarias de inmuebles
                    comerciales, centros comerciales y desarrollos de oficinas, estratégicamente ubicados y catalogados
                    como Premium, en regiones de alto potencial económico en México.
                </p>

                <p>
                    Buscamos consolidar nuestro portafolio de créditos mediante el otorgamiento de financiamientos para
                    la adquisición o construcción de bienes inmuebles destinados al arrendamiento, o a la adquisición
                    del derecho a percibir ingresos provenientes del arrendamiento.
                </p>


                <p>El éxito de nuestro modelo de negocios estará ligado a la gestión de nuestro Administrador, FHIPOS
                    Controladora, S.A.P.I. de C.V., así como a la experiencia en operación de los administradores de
                    inmuebles iniciales, Grupo Sordo Madaleno y Grupo DMI, que en conjunto han desarrollado más de 20
                    millones de metros cuadrados de área rentable en México.</p>

                <p>Consideramos que los inmuebles iniciales que respaldarán nuestro portafolio de créditos cuentan con
                    una expresión arquitectónica vistosa y diferenciada que les brinda una gran ventaja competitiva, que
                    aunada a nuestro sólido gobierno corporativo y controles prudenciales abonan a un robusto perfil de
                    nuestros activos.</p>
                        <div class="clearfix"></div>
                         
                    </div><!-- end widget -->
                </div><!-- end col-lg-6 -->
			</div><!-- end row --><br>
		</div><!-- end container -->
	</section><!-- end postwrapper -->
    
	<section class="parallax" style="background-image: url('images/parallax/parallax-client.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
				<div class="stat f-container">
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-mobile-call icon-header blue"></i>
                            <span class="stat-count highlight">7</span>
                            <div class="milestone-details">Propiedades</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-chart-8 icon-header red"></i>
                            <span class="stat-count highlight">250</span>
                            <div class="milestone-details">Project Finished</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-winner icon-header green"></i>
                            <span class="stat-count highlight">350</span>
                            <div class="milestone-details">Awards Win</div>
						</div>
					</div>
					<div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<div class="milestone-counter">
                        	<i class="icon-picons-users icon-header orange"></i>
                            <span class="stat-count highlight">232</span>
                            <div class="milestone-details">Happy Clients</div>
						</div>
					</div>
				</div><!-- stat -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	<section class="white-wrapper">
    	<div class="container">
            
            <div class="padding-top text-center">
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 first">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Jane</span> Steward <span>|</span> <small>CEO</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Maria</span> Felinno <span>|</span> <small>Project Manager</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p> 
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-google-plus"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Chaterine</span> Tiffany <span>|</span> <small>Web Designer</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 last">
					<div class="team_member">
                    	<div class="entry">
                    		<img class="img-responsive" src="images/team/team.jpg" alt="">
                            <div class="magnifier">
                                <div class="buttons">
                                    <a class="sf" rel="bookmark" href="#"><span class="fa fa-envelope"></span></a>
                                    <a class="st" rel="bookmark" href="#"><span class="fa fa-twitter"></span></a>
                                    <a class="sg" rel="bookmark" href="#"><span class="fa fa-facebook"></span></a>
                                </div>
                            </div><!-- end magnifier -->
                        </div><!-- end entry -->
                        <h3><span class="font-light">Edward</span> Barry <span>|</span> <small>PHP Developer</small></h3>
                        <p>Morbis congue mauris eget dolor pellentesque sed consectetur pulvinar pellentesque bibendum</p>
					</div><!-- end team_member -->
                </div><!-- end col-lg-3 -->
            </div><!-- end row -->   
    	</div><!-- end container -->
    </section><!-- end white wrapper -->
    
    <div id="square-white"></div>
		<div class="align-white">
            <div id="triangle-topleft-white"></div>
            <div id="triangle-topright-white"></div>
	</div>

	<section class="parallax" style="background-image: url('images/parallax/parallax-lamp.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
		<div class="overlay">
        	<div class="container">
            	<div class="clients padding-top text-center">
                	<div class="client-wrap col-lg-3 first">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 last">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 first no-border">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 no-border">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 no-border">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                	<div class="client-wrap col-lg-3 last no-border">
                    	<a href="#" title=""><img src="images/client/client-logo.png" alt=""></a>
                    </div>
                </div><!-- end row -->
            </div><!-- end container -->
    	</div><!-- end overlay -->
    </section><!-- end transparent-bg -->

	<section class="white-wrapper jt-shadow">
    	<div class="container">
			<div class="calloutbox bggrey">
            	<div class="post-type-icon">
                    <i class="icon-picons-paper-2"></i>
                </div>
            	<div class="col-lg-10">
            	<h2>Stunning Template For Your Business</h2>
                <p>Mestibulum storci augue felis pellentesque euismod massa pretium mauris tincidunt tortor metus nisi</p>
                </div>
                <div class="col-lg-1">
                <a href="#" class="btn pull-right btn-primary btn-lg">Purchase now!</a>
                </div>
            </div><!-- end messagebox -->
		</div><!-- end container -->
    </section><!-- end white-wrapper -->
    
<div class="make-bg-full">
    <div class="calloutbox-full-mini nocontainer">
        <div class="container">
                <div class="latest-tweets">
                    <div class="tweet-icon">
                        <img src="images/tweets-icon.png" alt="">
                    </div>
                    <div class="tweet">
                                <ul>
                                   <li>
                                    <div class="tweet-wrapper">
                                    <div class="tweet-wrapper-inner">
                                    <p class="tweet-content">
                                    <a href="#">@envato</a> Ancillia now available on themeforest, available with 4 homepage layouts code with HTML5 and CSS3 and easy to use <a href="http://themeforest.net/user/willywize/portfolio" target="_blank">http://t.co/zuE150kz7L</a></p>
                                    <span class="tweet-date">
                                        8 hours ago</span> 
                                    <span class="tweet-meta">
                                    <a href="#"><i class="fa fa-reply"></i> Reply</a></span>
                                    <span class="tweet-meta">
                                        <a href="#"><i class="fa fa-retweet"></i> 100 Retweeded</a></span>
                                    <span class="tweet-meta">
                                        <a href="#"><i class="fa fa-star"></i> 100 Favorited</a></span>
                                       </div>
                                    </div>
                                   </li>
                                </ul>
                            </div>
                        </div>
             	    </div>
   	            </div>
    
	<%= erb :"layouts/footer" %>
    <!-- end #footer-style-1 -->    

<div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <img src="/images/fibhios/logo-footer.png" width="196" height="46" class="img-responsive" alt="">
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">
                        <li class="active"><a href="#">Homeee</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">Features</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
			 </div>
          </div>
       </div>
     </div>
   </div>
<div class="dmtop">Scroll to Top</div>


<!-- SAMPLE BOX CONFIGURATION MODAL FORM-->                        
            <div class="modal fade" id="login-box" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content modal-table">
                    <div class="modal-header">
                      <h4 class="modal-title"><i class="icon-picons-users"></i> Member Login <a href="#" class="remove pull-right" style="margin-top:20px;" data-dismiss="modal" >&times;</a></h4>
                    </div>
                    <div class="modal-body">
                    <div class="col-sm-12">
                      <div class="contact_form"><!-- Login-form -->
                    <form id="login" action="#" name="contactform" method="post">
                            <input type="text" name="email" id="contact_name" class="form-control" placeholder="Email"> 
                            <input type="password" name="name" id="email_address" class="form-control" placeholder="Password"> 
                            <button type="submit" value="signin" id="signin" class="btn btn-lg btn-primary center-block">Sign in</button>
                    </form>    
                </div><!-- end Login-form -->
             </div>
           </div>
          <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
<!-- /SAMPLE BOX CONFIGURATION MODAL FORM-->


<!-- SLIDE-UP CONTENT--> 
<div class="bonfire-slideout-button-triangle-background"></div>
<div class="bonfire-slideout">
  <div class="bonfire-slideout-inner">
    <div class="bonfire-slideout-inner-inner"> 
      <div class="bonfire-slideout-close"></div>
      <div class="bonfire-slideout-content container">
        <div class="thin">
          <div class="section-title-wrapper">
            <h3 class="section-title">Our Recomendation</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Aenean lacinia bibendum nulla sed consectetur sagittis lacus vel augue laoreet rutrum faucibus dolor aucto Integer posuere erat a ante venenatis dapibus posuere velit aliquet</p>
          </div>
          <div class="margin-top"></div>
          <div class="row">
            <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>Your<span class="font-light"> Channel</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />History and Culture</a><br/>
                        Learn more about history and culture from arround the world
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Wild Adventure</a><br/>
                        Free yourself from work and take a wild experience to the center of earth
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Sains and Technology</a><br/>
                        Find out what the latest issue about science and technology
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Urbanesia</a><br/>
                        Keep update about trend, entertainment, and lifestyle for your reference
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                        <h3>What's <span class="font-light">Hot</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Gateway To Touch The Blue Sky</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Summer Vocation With Nature</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                       <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Forever Young And Unstopable</a><br/>
                        June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        </li>
                        <li>
                            <a href="#" class="recomend-link"><img src="images/blog/side-post.jpg" alt="" />Something Good Work</a><br/>
                            June 15, 2014
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                                <i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
            
             <div class="col-sm-4">
             <div class="widget">
                	<div class="title">
                    	<h3>Best <span class="font-light">Offer</span></h3>
                    </div><!-- end title -->
					<ul class="recent_posts_widget">
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product One</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Two</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>    
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Three</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
                        <li>
                        <a href="#" class="recomend-link"><img src="images/shop/shop.jpg" alt="" />Hot Product Four</a>
                           <div class="rating">
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle"></i>
                            	<i class="fa fa-circle-o"></i>
                            </div><!-- rating -->
                        	$150.00
                        </li>
					</ul><!-- recent posts -->  
                </div><!-- end widget -->
            </div>
          </div>
         </div>
      </div>
    </div>
  </div>
</div>
<!-- /SLIDE-UP CONTENT--> 
    
    
 
        
<!-- Java Script ================================================== --> 
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/menu.js"></script>
<script type="text/javascript" src="/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="/js/jquery.simple-text-rotator.js"></script>
<script type="text/javascript" src="/js/wow.min.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>
<script type="text/javascript" src="/js/switcher.js"></script>
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<script type="text/javascript" src="/js/custom-portfolio-masonry.js"></script>
<script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="/royalslider/jquery.easing-1.3.js"></script>
<script type="text/javascript" src="/royalslider/jquery.royalslider.min.js"></script>
<script type="text/javascript" src="/js/smoothPageScroll.js"></script>
<script type="text/javascript" src="/js/TweenMax.min.js"></script>
<script type="text/javascript" src="/js/ScrollToPlugin.min.js"></script>
<script type="text/javascript" src="/js/canvas.js"></script>
  
<script type="text/javascript">
	(function($) {
	  "use strict";
			$("#header-default").affix({
			offset: {
			  top: 100, 
			  bottom: function () {
			  return (this.bottom = $('#copyrights').outerHeight(true))
			  }
			}
		})
	})(jQuery);
</script>


</body>
</html>