
          <h3>FIBHIOS Fideicomiso Bursátil Hipotecario</h3>
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <img src="/images/fibhios/propiedades/Antara/antaradarkx300.jpg" class="img-responsive">
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
              <p>FiBHiOS es el primer Fideicomiso Bursátil Hipotecario especializado en financiamiento inmobiliario respaldado por garantías hipotecarias o fiduciarias de inmuebles comerciales, centros comerciales y desarrollos de oficinas, estratégicamente ubicados y catalogados como premium, en regiones de alto potencial económico en México. </p>
              <p>Consideramos que los inmuebles iniciales que respaldarán nuestro portafolio de créditos cuentan con una expresión arquitectónica vistosa y diferenciada que les brinda una gran ventaja competitiva, que aunada a nuestro sólido gobierno corporativo y controles prudenciales abonan a un robusto perfil de nuestros activos.
              </p>
            </div>

            <div class="clearfix"></div>

          </div><!-- end row -->
       