<div id="copyrights">
    	<div class="container">
			<div class="col-lg-5 col-md-6 col-sm-12">
            	<div class="copyright-text">
                    <img src="/images/fibhios/logo-footer.png" width="196" height="46" class="img-responsive" alt="">
                </div><!-- end copyright-text -->
			</div><!-- end widget -->
			<div class="col-lg-7 col-md-6 col-sm-12 clearfix">
				<div class="footer-menu">
                    <ul class="menu">
                        <li class="active"><a href="/en">Home</a></li>
                        <li><a href="/en/perfil">About Us</a></li>
                        <li><a href="/en/creditos">Portfolio</a></li>
                        <!-- <li><a href="#">Resposabilidad social</a></li> -->
                        <li><a href="/en/inversionistas/directivos">Management Team</a></li>
                    </ul>
                </div>
			</div>
        </div>
</div>
    