<header id="header-default">
	<div class="container">
		<nav class="navbar yamm navbar-default">
			<div class="navbar-header">
                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-default" class="navbar-toggle">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/en" class=""><img src="/images/fibhios/logo.png" width="196" alt=""></a>
        		</div><!-- end navbar-header -->
                
				<div id="navbar-collapse-default" class="navbar-collapse collapse navbar-right">
					<ul class="nav navbar-nav">
                    <li><a href="/en">Home</a> <div class="arrow-up"></div></li>
                        
                      <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">About Us<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                				<li><a href="/en/perfil">Profile</a></li>
                                                <li><a href="/en/filosofia">Corporate Philosophy</a></li>
                                                <li><a href="/en/directivos">Management Team</a></li>
                                                <li><a href="/en/estructura">Collateral Structure</a></li>

                            </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                        
                    <!-- standard drop down -->
                    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Portfolio <div class="arrow-up"></div></a>
                        <ul class="dropdown-menu" role="menu">
                                    <li><a href="/en/creditos">Loans</a></li>
                                    <li><a href="/en/propiedades">Underlying Properties</a></li>
                                    <li><a href="/en/operacion">Property Management</a></li>
                                    <li><a href="/en/distribucion">Property Distribution</a></li>
                        </ul><!-- end dropdown-menu -->
                      </li><!-- end standard drop down -->
                          
                        <!-- <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Responsabilidad social <div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="@">xxxx</a></li>

                            </ul>
                        </li> --><!-- end standard drop down reponsabilidad social -->
                        
                       <!-- standard drop down -->
                        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Investors<div class="arrow-up"></div></a>
                            <ul class="dropdown-menu" role="menu">
                            					 <li><a href="/en/inversionistas/perfil">FIBHIOS</a></li>
                                                 <li><a href="/en/inversionistas/modelo">Strategy</a></li>
                                                 <li><a href="/en/inversionistas/compromiso">Corporate Governance</a></li>
                                                 <li><a href="/en/inversionistas/distribuciones">Stock Information</a></li>
                            </ul><!-- end dropdown-menu -->
                          </li><!-- end standard drop down -->
                          
						<!-- mega drop down -->                        
						
                      <li><a href="/en/contacto">Contact</a> <div class="arrow-up"></div></li>
				   </ul><!-- end navbar-nav -->
				</div><!-- #navbar-collapse-default -->			
             </nav><!-- end navbar yamm navbar-default -->
		 </div><!-- end container -->
</header>