<section class="parallax" style="background-image: url('/images/parallax/andaresblur2.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
  <div class="overlay">
    <div class="container">
      <div class="stat f-container">
        <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="milestone-counter">
            <span class="highlight">9.46%</span>

            <div class="milestone-details">Weighted Average Rate</div>
          </div>
        </div>
        <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="milestone-counter">
            <span class="highlight">30 years</span>

            <div class="milestone-details">Term of Loans</div>
          </div>
        </div>
        <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="milestone-counter">
            <span class="highlight">61%</span>

            <div class="milestone-details">Average LTV Ratio</div>
          </div>
        </div>
        <div class="f-element col-lg-3 col-md-3 col-sm-6 col-xs-6">
          <div class="milestone-counter">
            <span class="highlight">1.30x</span>

            <div class="milestone-details">Stabilized NOI-Coverage </div>
          </div>
        </div>
      </div>
      <!-- stat -->
    </div>
    <!-- end container -->
  </div>
  <!-- end overlay -->
</section>
