<!-- SLIDE-UP CONTENT-->
<div class="bonfire-slideout-button-triangle-background"></div>

<div class="bonfire-slideout">
<div class="bonfire-slideout-inner">
<div class="bonfire-slideout-inner-inner">
<div class="bonfire-slideout-close"></div>
<div id="offcanvas" class="bonfire-slideout-content container">

<div class="thin">

<!--titulo y descripcion-->
<div class="section-title-wrapper">
  <h3 class="section-title">Fibhios AT A GLANCE</h3>

</div>



<!--contenido-->

<!--1ra columna de a 6-->
<div class="row">

  <div class="col-sm-6">
    <div class="widget">
      <div class="title">
        <h2 class="text-center big-white">Initial Loan <span class="font-light"> Portfolio</span></h2>
      </div>

      <div class="cajita-subtitle-esp">
        <p class="big-white text-center" style="font-size: 30px">7 credits</p>
        <!--<p class="big-white text-center"> <br></p>-->
        <p class="big-white text-center" style="position: relative; top: 15px;">Ps.7,541 million</p>
      </div>


      <h3 class="text-center">Refinancing Loans </h3>

    </div>
  </div>


  <!--2da columna de a 6-->
  <div class="col-sm-6">
    <div class="widget">
      <div class="title">
        <h2 class="text-center big-white">Underlying<span class="font-light"> Properties</span></h2>
      </div>


      <div class="cajita-subtitle-esp">
        <p class="big-white text-center">7 properties<sup>(1)</sup> <span class="litte-white"></span></p>
        <p class="big-white text-center" style="font-size: 25px; position: relative; top:10px;">6 stabilized and 1 pre-stabilized</p>
      </div>


      <h3 class="text-center">Premium, High-End, Shopping Malls in > 5 Different Cities</h3>

    </div>
  </div>

</div>

<!--1ra fila -->
<div class="row">

  <!--1ra cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">9.46%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Weighted Average Fixed  </p>

        <p class="txt-cajita text-center">Interest Rate</p>
      </div>
    </div>
  </div>


  <!--2da cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">30 years</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Weighted</p>
        <p class="txt-cajita text-center">Average Term</p>

      </div>
    </div>
  </div>

  <!--3ra cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">2.97 msf</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Total </p>
         <p class="txt-cajita text-center">LA</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

  <!--4ta cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">100%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Occupancy Rate in Stabilized Projects</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--1ra fila FIN-->


<!--2DA fila -->
<div style="margin-top: 20px" class="row">

  <!--1ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">61%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Weighted Average LTV<sup> (2)</sup></p>

        <p class="txt-cajita text-center" style="padding-bottom: 5px;">Valued at >Ps.12,000 MM
        </p>
      </div>
    </div>
  </div>


  <!--2da cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">1.30x</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Weighted Average</p>
        <p class="txt-cajita text-center">DSCR<sup> (3) (4)</sup></p>

      </div>
    </div>
  </div>

  <!--3ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">  >1,000</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">High Quality</p>
        <p class="txt-cajita text-center">Tenants</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

  <!--4ta cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">3.3 years<sup>(4)</sup> <span class="litte-white"></span></p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Remaining Average </p>
        <p class="txt-cajita text-center">Lease Term</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--2da fila FIN-->



<!--3ra fila -->
<div style="margin-top: 20px" class="row">

  <!--1ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center"> <br></p>
        <p class="big-white text-center">MXN</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">100%</p>
        <p class="txt-cajita text-center">Loans</p>


        </p>
      </div>
    </div>
  </div>


  <!--2da cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">Average </p>
        <p class="big-white text-center">4 years  </p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita"> Interest Only</p>
         <p class="txt-cajita text-center">Periods</p>

      </div>
    </div>
  </div>

  <!--3ra cajita -->
  <div class="col-md-3" style="position: relative; top: 9px;">
    <div>

      <div>
        <p class="big-white text-center operario-font-size">No Tenant Represents >10% </p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">As Proportion of the </p>
        <p class="txt-cajita text-center">Annualized Base Rent<sup>(4)</sup> </p>

      </div>
    </div>
  </div>

  <!--4ta cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center"> <br> </p>
        <p class="big-white text-center"> >Ps.1,100 mm</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Annual NOI
        <p class="txt-cajita text-center"> (2014 E) </p>
        </p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--3ra fila FIN-->


<br/>
(1) CI regional offices are considered as a single property.<br/>
(2) Loan to Value.<br/>
(3) Debt Service Coverage Ratio (NOI base).<br/>
(4) Excluding Andamar I




</div>
</div>
</div>
</div>
</div>
<!-- /SLIDE-UP CONTENT-->
