<!-- SLIDE-UP CONTENT-->
<div class="bonfire-slideout-button-triangle-background"></div>

<div class="bonfire-slideout">
<div class="bonfire-slideout-inner">
<div class="bonfire-slideout-inner-inner">
<div class="bonfire-slideout-close"></div>
<div id="offcanvas" class="bonfire-slideout-content container">

<div class="thin">

<!--titulo y descripcion-->
<div class="section-title-wrapper">
  <h3 class="section-title">Fibhios AT A GLANCE</h3>

</div>



<!--contenido-->

<!--1ra columna de a 6-->
<div class="row">

  <div class="col-sm-6">
    <div class="widget">
      <div class="title">
        <h2 class="text-center big-white">Initial Loan <span class="font-light"> Portfolio</span></h2>
      </div>

      <div class="cajita-subtitle-esp">
        <p class="big-white text-center" style="font-size: 30px">9 credits</p>
        <!--<p class="big-white text-center"> <br></p>-->
        <p class="big-white text-center" style="position: relative; top: 15px;">Ps.9,721mm</p>
      </div>


      <h3 class="text-center">Refinancing and Construction & Development Loans </h3>

    </div>
  </div>


  <!--2da columna de a 6-->
  <div class="col-sm-6">
    <div class="widget">
      <div class="title">
        <h2 class="text-center big-white">Underlying<span class="font-light"> Properties</span></h2>
      </div>


      <div class="cajita-subtitle-esp">
        <p class="big-white text-center">9 properties <span class="litte-white"></span></p>
        <p class="big-white text-center" style="font-size: 25px; position: relative; top:10px;">6 stabilized, 1 pre-stabilized and 2 under construction</p>
      </div>


      <h3 class="text-center">Premium, High-End, Shopping Malls in > 5 Different cities</h3>

    </div>
  </div>

</div>

<!--1ra fila -->
<div class="row">

  <!--1ra cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">9.5%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita"> Wtd. Avg. Fixed Int.</p>

        <p class="txt-cajita text-center" style="padding-bottom: 5px;">Rate</p>
      </div>
    </div>
  </div>


  <!--2da cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">30 years</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Weighted Average Term</p>

      </div>
    </div>
  </div>

  <!--3ra cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">357k m²</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Total GLA</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

  <!--4ta cajita 1 fila-->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">100%</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Occupancy Rate in stabilized projects</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--1ra fila FIN-->


<!--2DA fila -->
<div style="margin-top: 20px" class="row">

  <!--1ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">[58%]</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Wtd. Avg. LTV</p>

        <p class="txt-cajita text-center" style="padding-bottom: 5px;">Valued at >Ps.14,000mm 
        </p>
      </div>
    </div>
  </div>


  <!--2da cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">1.30x</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Weighted Average DSCR</p>

      </div>
    </div>
  </div>

  <!--3ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">  >1,000</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">high quality tenants</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

  <!--4ta cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">3.3 years <span class="litte-white"></span></p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Remaining average lease term</p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--2da fila FIN-->



<!--3ra fila -->
<div style="margin-top: 20px" class="row">

  <!--1ra cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center"> <br></p>
        <p class="big-white text-center">MXN</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">100% Loans</p>

        </p>
      </div>
    </div>
  </div>


  <!--2da cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center">Average </p>
        <p class="big-white text-center">6 years  </p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita"> Interest Only Periods </p>

      </div>
    </div>
  </div>

  <!--3ra cajita -->
  <div class="col-md-3" style="position: relative; top: 9px;">
    <div>

      <div>
        <p class="big-white text-center operario-font-size">No tenant represents >10% </p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">of annualized base rent</p>

      </div>
    </div>
  </div>

  <!--4ta cajita -->
  <div class="col-md-3">
    <div>

      <div>
        <p class="big-white text-center"> <br> </p>
        <p class="big-white text-center"> >Ps.1,500mm</p>
      </div>

      <div class="cajita1-num-esp">
        <p class="txt-cajita text-center first-txt-cajita">Annual NOI upon stabilization (2017)

        </p>

        <!--<p class="font-blucito text-center" style="padding-bottom: 5px;">Promedio Ponderada</p>-->
      </div>
    </div>
  </div>

</div>
<!--3ra fila FIN-->


<br/>

  


</div>
</div>
</div>
</div>
</div>
<!-- /SLIDE-UP CONTENT-->