
<section class="white-wrapper jt-shadow">
  <div class="container">
    <div class="calloutbox bggrey">
      <div class="post-type-icon">
        <i class="icon-picons-paper-2"></i>
      </div>
      <div class="col-lg-10">
        <h2>GET TO KNOW OUR INITIAL PROSPECTUS IN DETAIL</h2>

        <p>Loans secured by real estate assets that have an attractive and distinctive architectural expression that provides them<br> with a competitive edge.</p>
      </div>
      <div class="col-lg-1">
         <a href="http://cdn.investorcloud.net/FIBHIOS/InformacionFinanciera/Global/prospecto.pdf" class="btn pull-right btn-primary btn-lg" target="_blank"><i class="fa fa-download"></i> Prospectus</a>
      </div>
    </div>
    <!-- end messagebox -->
  </div>
  <!-- end container -->
</section>