
<section class="white-wrapper jt-shadow">
  <div class="container">
    <div class="calloutbox bggrey">
      <div class="post-type-icon">
        <i class="icon-picons-paper-2"></i>
      </div>
      <div class="col-lg-10">
        <h2>Conozca nuestro prospecto en detalle</h2>

        <p>Créditos respaldados por inmuebles con una expresión arquitectónica vistosa y diferenciada <br>que les
          brinda una gran ventaja competitiva.</p>
      </div>
      <div class="col-lg-1">
         <a href="http://cdn.investorcloud.net/FIBHIOS/InformacionFinanciera/Global/prospecto.pdf" class="btn pull-right btn-primary btn-lg" target="_blank"><i class="fa fa-download"></i> Prospecto</a>
      </div>
    </div>
    <!-- end messagebox -->
  </div>
  <!-- end container -->
</section>
